<section class="first-section">
      <div class="big-input-div">
        <form action="/results">
          <span>How to </span>
          <input placeholder="..." name="term" id="request" class="fire-cursor" autofocus />
          <button  class="ask-button">ASK</button>
        </form>
      </div>
    </section>